/*reset */
body {
    background-color: tomato;
    margin-left: 0;
    padding:0;
    box-sizing: border-box;
    top:0;
}

h1 {
    margin:0;
    padding: 0;
}

.lista-ola {
    border: 3px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}